# Base de datos
DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/moda_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="desarrollo-secreto-cambiar-en-produccion-ejemplo123"

# App
NEXT_PUBLIC_APP_NAME="Sistema Moda"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
